In [1]:
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import apriori,association_rules

In [2]:
df= pd.read_csv('Titanic.csv')

In [3]:
df.head()

  Class Gender    Age Survived
0   3rd   Male  Child       No
1   3rd   Male  Child       No
2   3rd   Male  Child       No
3   3rd   Male  Child       No
4   3rd   Male  Child       No

In [4]:
df.Gender.unique()

array(['Male', 'Female'], dtype=object)

In [5]:
df.Age.unique()

array(['Child', 'Adult'], dtype=object)

In [6]:
df.Survived.unique()

array(['No', 'Yes'], dtype=object)

In [7]:
df1= pd.get_dummies(df)

In [8]:
df1

      Class_1st  Class_2nd  Class_3rd  ...  Age_Child  Survived_No  Survived_Yes
0             0          0          1  ...          1            1             0
1             0          0          1  ...          1            1             0
2             0          0          1  ...          1            1             0
3             0          0          1  ...          1            1             0
4             0          0          1  ...          1            1             0
...         ...        ...        ...  ...        ...          ...           ...
2196          0          0          0  ...          0            0             1
2197          0          0          0  ...          0            0             1
2198          0          0          0  ...          0            0             1
2199          0          0          0  ...          0            0             1
2200          0          0          0  ...          0            0             1

[2201 rows x 10 columns]

In [19]:
freq=apriori(df1,min_support=0.5,use_colnames=True)
freq

    support                               itemsets
0  0.786461                          (Gender_Male)
1  0.950477                            (Age_Adult)
2  0.676965                          (Survived_No)
3  0.757383               (Gender_Male, Age_Adult)
4  0.619718             (Survived_No, Gender_Male)
5  0.653339               (Survived_No, Age_Adult)
6  0.603816  (Survived_No, Gender_Male, Age_Adult)

In [13]:
df.shape

(2201, 4)

In [14]:
df.Gender.value_counts()

Male      1731
Female     470
Name: Gender, dtype: int64

In [15]:
1731/2201

0.7864606996819627

In [16]:
470/2201

0.21353930031803725

In [23]:
0.757383/(0.786461*0.950477)

1.0132036591866942

In [26]:
association_rules(freq,min_threshold=0.8,metric='lift')

                   antecedents  ... zhangs_metric
0                (Gender_Male)  ...      0.061028
1                  (Age_Adult)  ...      0.263149
2                (Survived_No)  ...      0.436144
3                (Gender_Male)  ...      0.659783
4                (Survived_No)  ...      0.046906
5                  (Age_Adult)  ...      0.305968
6   (Survived_No, Gender_Male)  ...      0.064404
7     (Survived_No, Age_Adult)  ...      0.429921
8     (Gender_Male, Age_Adult)  ...      0.621823
9                (Survived_No)  ...      0.467023
10               (Gender_Male)  ...      0.697935
11                 (Age_Adult)  ...      0.494550

[12 rows x 10 columns]