In [5]:
import pandas as pd
import streamlit as st
from sklearn.linear_model import LogisticRegression

In [6]:
st.title('Model_Deployment using Logistic Regression')
st.sidebar.header('User_Input_Parameters')

DeltaGenerator(_root_container=1, _parent=DeltaGenerator())

In [7]:
def user_input_parameters():
    CLMSEX= st.sidebar.selectbox('Gender',('0','1'))
    CLMINSUR= st.sidebar.selectbox('Insurance',('0','1'))
    SEATBELT= st.sidebar.selectbox('SeatBelt',('0','1'))
    CLMAGE= st.sidebar.number_input('Age')
    LOSS= st.sidebar.number_input('Loss')
    data= {'CLMSEX': CLMSEX,'CLMINSUR':CLMINSUR,'SEATBELT':SEATBELT,'CLMAGE':CLMAGE,'LOSS':LOSS}
    features= pd.DataFrame(data,index=[1])
    return features
df= user_input_parameters()
st.subheader('User_Input_variables')
st.write(df)
clf= LogisticRegression()
claimants= pd.read_csv('claimants.csv')
claimants.drop('CASENUM',axis=1,inplace=True)
claimants.dropna(inplace=True)
features= claimants.iloc[:,1:6]
target= claimants.iloc[:,0]
clf.fit(features,target)
predicted_value= clf.predict(df)
predic_proba= clf.predict_proba(df)

st.subheader('Predicted_value')
st.write('Yes' if predic_proba[0][1]>0.5 else'No')

st.subheader('Predicted_Probability')
st.write(predic_proba)

In [8]:
df

  CLMSEX CLMINSUR SEATBELT  CLMAGE  LOSS
1      0        0        0     0.0   0.0

In [9]:
claimants

      ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0            0     0.0       1.0       0.0    50.0  34.940
1            1     1.0       0.0       0.0    18.0   0.891
2            1     0.0       1.0       0.0     5.0   0.330
3            0     0.0       1.0       1.0    31.0   0.037
4            1     0.0       1.0       0.0    30.0   0.038
...        ...     ...       ...       ...     ...     ...
1334         1     1.0       1.0       0.0    16.0   0.060
1336         0     1.0       1.0       0.0    46.0   3.705
1337         1     1.0       1.0       0.0    39.0   0.099
1338         0     1.0       0.0       0.0     8.0   3.177
1339         1     1.0       1.0       0.0    30.0   0.688

[1096 rows x 6 columns]

In [10]:
claimants.isnull().sum()

ATTORNEY    0
CLMSEX      0
CLMINSUR    0
SEATBELT    0
CLMAGE      0
LOSS        0
dtype: int64