In [7]:
a=1
b=2
c=3
a+b+c

6

In [17]:
a,b,c=29,49,55
print ('Addition on 3 numbers', a+b+c)

Addition on 3 numbers 133

# Super Market

# Details

# Maths

In [22]:
a=55
b=66
c=45
a+b+c

166

# Ragupathy Family

In [1]:
Ragu=62
Kalai=20
Praveen=58
Kumaresan=55
Deepak=30
print ('Ragupathy Family Income = $',Ragu+Kalai+Praveen-Kumaresan+Deepak)

Ragupathy Family Income = $ 115

# deepak

# Purchase

In [49]:
a,b,c,d,e,f=49,33,45,647,746,645
print ('List One = ',a//b+c%d+e+f)
print('List Two =',a+b-c-d*e)

List One =  1437
List Two = -482625

# include conio.h
# include studio.h
{
}

In [53]:
a=1
b=2
c=6
print ('a+b=', a+b)
print ('a-b=', a-b)
print ('a+b-c=', a+b-c)

a+b= 3
a-b= -1
a+b-c= -3

# Include Conio.h

# Deepak

In [26]:
Hyundai=1
Bmw=2
Rangerover=1
Amg=1
Supra=1

print ('deepak Assets cars are =', Hyundai+Bmw+Rangerover+Amg+Supra )

deepak Assets cars are = 6

# import math

In [60]:
math.sqrt(2)

1.4142135623730951

In [61]:
math.ceil(2.44)

3

In [67]:
a=[1,3]
b=[4,6]

In [79]:
math.dist(a,b)

4.242640687119285

In [80]:
math.degrees(55)

3151.2678732195277

In [81]:
math.cbrt(55)

3.802952460761392

In [82]:
math.factorial(6)

720

# new

In [86]:
a='deepak'

In [87]:
print(a)

deepak

In [88]:
abs(-5)

5

In [ ]:
a='Man'

In [90]:
type(a)

str

# type

In [97]:
a=[4.5]
type(a)

list

In [93]:
type(a)

str

In [99]:
a=50
type(a)

int

In [101]:
c=4.2

In [102]:
type(c)

float

# New

In [103]:
a='deepakragupathy'

In [139]:
type(a)

str

# String

In [108]:
str1='My name is deepak'

In [113]:
str1.title()

'My Name Is Deepak'

In [122]:
len(str1)

17

In [123]:
str1[5]

'm'

In [124]:
str1[7]

' '

In [141]:
str1[9]

's'

In [136]:
str1[0:19:2]

'M aei epk'

In [ ]:
str1

In [ ]:
name=input('my name is deepak')
print('his name is :', name)

In [ ]:
str1='deepak ragupathy'

In [ ]:
len(str1)

In [3]:
a=23

In [4]:
type(a)

int

In [ ]:
a=input('enter your name')

In [8]:
print('his name is',a)

his name is deepak

In [14]:
str1='deepak ragupathy'

In [15]:
str1[4]

'a'

In [17]:
str1[0:8:2]

'dea '

In [18]:
str2='good boy'

In [19]:
str1 + str2

'deepak ragupathygood boy'

In [20]:
str1.capitalize()

'Deepak ragupathy'

In [25]:
str2.capitalize()

'Good boy'

In [26]:
str1

'deepak ragupathy'

In [27]:
str1.replace('deepak','kalai')

'kalai ragupathy'

In [28]:
str1

'deepak ragupathy'

In [29]:
list1=[1,2,3,4,6,7,8]

In [30]:
list1

[1, 2, 3, 4, 6, 7, 8]

In [31]:
max(list1)

8

In [35]:
list1[6]

8

In [40]:
list1.pop(4,3)

TypeError: pop expected at most 1 argument, got 2

In [41]:
list1

[1, 2, 3, 4, 6, 7, 8]

In [45]:
list1.pop(3,6)

TypeError: pop expected at most 1 argument, got 2

In [48]:
list1

[1, 2, 3, 4, 6, 7]

In [49]:
list1

[1, 2, 3, 4, 6, 7]

In [50]:
list1.insert(2,9)

In [51]:
list1

[1, 2, 9, 3, 4, 6, 7]

In [52]:
tup1=[1,2,3,4]

In [53]:
type(tup1)

list

In [59]:
tup1.count(6)

0

In [58]:
tup1

[1, 2, 3, 4]

In [60]:
tup1.insert()

TypeError: insert expected 2 arguments, got 0

In [61]:
tup1

[1, 2, 3, 4]

In [64]:
tup1.reverse()

In [65]:
tup1

[1, 2, 3, 4]

In [66]:
tup1.remove(2)

In [67]:
tup1

[1, 3, 4]

In [73]:
dict1={'reg no':['deepak','kalai','ragu'],'city':['chennai','vellore','kanjipuram']}

In [74]:
len(dict1)

2

In [75]:
max(dict1)

'reg no'

In [76]:
dict1.values()

dict_values([['deepak', 'kalai', 'ragu'], ['chennai', 'vellore', 'kanjipuram']])

In [79]:
dict1.keys()

dict_keys(['reg no', 'city'])

In [86]:
dict1.update['deepak']['praveen']

TypeError: 'builtin_function_or_method' object is not subscriptable

In [100]:
dict1

{'reg no': ['deepak', 'kalai', 'ragu'],
 'city': ['chennai', 'vellore', 'kanjipuram']}

In [103]:
dict1['age']=[25,45,65]

In [104]:
dict1

{'reg no': ['deepak', 'kalai', 'ragu'],
 'city': ['chennai', 'vellore', 'kanjipuram'],
 'age': [25, 45, 65]}

In [108]:
dict1.pop('chennai')

KeyError: 'chennai'

In [109]:
dict1.pop('chennai')

KeyError: 'chennai'

In [110]:
dict1

{'reg no': ['deepak', 'kalai', 'ragu'],
 'city': ['chennai', 'vellore', 'kanjipuram'],
 'age': [25, 45, 65]}

In [113]:
dict1.popitem('chennai')

TypeError: dict.popitem() takes no arguments (1 given)

In [114]:
dict1

{'reg no': ['deepak', 'kalai', 'ragu'],
 'city': ['chennai', 'vellore', 'kanjipuram'],
 'age': [25, 45, 65]}

In [125]:
dict1.pop('city')

['chennai', 'vellore', 'kanjipuram']

In [126]:
dict1

{'age': [25, 45, 65]}

In [132]:
dict1['look']=[4,5,6]

In [133]:
dict1

{'age': [25, 45, 65], 'look': [4, 5, 6]}

In [134]:
dict1

{'age': [25, 45, 65], 'look': [4, 5, 6]}

In [138]:
dict1['age'][2]

65

In [140]:
set1={1,4,6,7,3}

In [142]:
set2=set1.copy()

In [145]:
set1

TypeError: 'set' object is not subscriptable

In [155]:
A=input('enter your name' )

enter your namedeepak

In [156]:
print('my name is :', a)

my name is : deepak

In [1]:
list1=[1,2,3,4,5]

In [2]:
list1.clear()

In [3]:
list1

[]

In [4]:
list1=[2,4,5,6]

In [5]:
list2=list1.copy()

In [6]:
list2

[2, 4, 5, 6]

In [7]:
list1.extend(list2)

In [9]:
list1

[2, 4, 5, 6, 2, 4, 5, 6]

In [10]:
list1.remove(5)

In [11]:
list1

[2, 4, 6, 2, 4, 5, 6]

In [12]:
list1[2:5]

[6, 2, 4]

In [13]:
list1[1][7]

TypeError: 'int' object is not subscriptable

In [14]:
list1

[2, 4, 6, 2, 4, 5, 6]

In [15]:
a=[]

In [18]:
if x in a():
    print(a)

NameError: name 'x' is not defined

# LOOPS & FUNTIONS

In [3]:
for i in (1,2,3):
    print(i)

1
2
3

In [6]:
a=[1,2,3]

In [8]:
for i in a:
    print(i)

1
2
3

In [9]:
range(0,10)

range(0, 10)

In [10]:
a

[1, 2, 3]

In [17]:
for i in range(len(a)):
    print(i,a[i])

0 1
1 2
2 3

In [18]:
i=1
c=5
sum=0
while(i<c):
    sum=sum+i
    print(sum)
    i=i+1

1
3
6
10

In [25]:
a=int(input('enter the number'))
if a<10:
    print('true')
else:
    print('false')

enter the number9
true

In [32]:
i=int(input('enter the number'))
if i%2==0:
    print('even')
else:
    print('odd')

enter the number2
even

In [33]:
a=[1,2,3,4,5,6]

In [42]:
for i in a:
    if i%2==0:
        print('even')
    
    
    else:
        print('odd')

odd
even
odd
even
odd
even

In [10]:
def func(i):
    if i==0:
        return 1
    else:
        return (i-1)*i

In [11]:
func(4)

12

In [8]:
count=int(input('enter the number'))
for i in range(0,count)

SyntaxError: expected ':' (2475260938.py, line 2)

In [14]:
count= int(input('Enter the count'))
for i in range(0,count):
    var= int(input('Enter the values'))
    a.append(var)

Enter the count8
Enter the values3

NameError: name 'a' is not defined

a=[]
even=[]
odd=[]
float1=[]
def fun(a):
    for i in a:
        if i%2==0:
            even.append(i)
        elif i%2==1:
            odd.append(i)
        else:
            float1.append(i)
    print(even,odd,float1)

In [15]:
a=[]
even=[]
odd=[]
float1=[]
def fun(a):
    for i in a:
        if i%2==0:
            even.append(i)
        elif i%2==1:
            odd.append(i)
        else:
            float1.append(i)
    print(even,odd,float1)

In [16]:
fun([1,2,3,4,5])

[2, 4] [1, 3, 5] []