## 2 tail Paired Test

 A study has conducted to determine the effectiveness of a weight base program. The table below shows the before and after weights of 10 subject in the program. A) Is the program effective for reducing weight? B) (use a 5% significant level) construct a 95% confidence interval and determine the margin of error.

In [27]:
before= [185,192,206,177,225,168,256,239,199,218]
After= [169,187,193,176,194,171,228,217,204,195]

In [28]:
diff=[]
for i in range(len(After)):
    diff.append(After[i]-before[i])
diff

[-16, -5, -13, -1, -31, 3, -28, -22, 5, -23]

In [29]:
import numpy as np
Xd_bar= np.mean(diff)

In [30]:
Xd_bar

-13.1

In [33]:
import math
Sd_bar= (sum((diff-Xd_bar)**2))/9
Sd_bar=math.sqrt(Sd_bar)
Sd_bar

13.02518927139086

In [34]:
import math
tstats= Xd_bar/(Sd_bar/math.sqrt(10))

In [35]:
tstats

-3.180440336417639

In [36]:
import pandas as pd

In [37]:
df= pd.DataFrame({'before':[185,192,206,177,225,168,256,239,199,218],'After':[169,187,193,176,194,171,228,217,204,195]},index=[1,2,3,4,5,6,7,8,9,10])

In [38]:
df

    before  After
1      185    169
2      192    187
3      206    193
4      177    176
5      225    194
6      168    171
7      256    228
8      239    217
9      199    204
10     218    195

In [39]:
from scipy.stats import ttest_rel

In [40]:
ttest_rel(df['After'],df['before'])

TtestResult(statistic=-3.180440336417639, pvalue=0.011176870661470717, df=9)

In [41]:
Margin_of_error= 2.262*(Sd_bar/math.sqrt(10))

In [42]:
Margin_of_error

9.317011754849299

In [43]:
upperlimit= Xd_bar+Margin_of_error

In [44]:
upperlimit

-3.782988245150701

In [45]:
lowerlimit= Xd_bar- Margin_of_error

In [46]:
lowerlimit

-22.417011754849298

## Anova

In [47]:
a= [2,3,7,2,6]
b=[10,8,7,5,10]
c=[10,13,14,13,15]

## Variance within the group

In [48]:
mean_a= np.mean(a)
mean_a

4.0

In [49]:
mean_b= np.mean(b)
mean_b

8.0

In [50]:
mean_c= np.mean(c)
mean_c

13.0

In [51]:
sum_of_square_a= sum((a-mean_a)**2)

In [52]:
sum_of_square_a

22.0

In [53]:
sum_of_square_b= sum((b-mean_b)**2)

In [54]:
sum_of_square_b

18.0

In [55]:
sum_of_square_c= sum((c-mean_c)**2)

In [56]:
sum_of_square_c

14.0

In [74]:
variance_within_group= sum_of_square_a+sum_of_square_b+sum_of_square_c

In [75]:
variance_within_group

54.0

In [76]:
overall_mean= (mean_a+mean_b+mean_c)/3
overall_mean

8.333333333333334

## Vairance between group

In [60]:
variance_bet_group= 5*((overall_mean-mean_a)**2) + 5*((overall_mean-mean_b)**2) + 5*((overall_mean-mean_c)**2)

In [77]:
variance_bet_group

203.33333333333331

In [78]:
F_Stats= (variance_bet_group/2)/(Total_sum_square/12)

In [79]:
F_Stats

22.59259259259259

In [80]:
stats.f_oneway(a,b,c)

F_onewayResult(statistic=22.59259259259259, pvalue=8.538592454274676e-05)

In [65]:
Total_variance= [2,3,7,2,6,10,8,7,5,10,10,13,14,13,15]

In [67]:
mean_tot= np.mean(Total_variance)

In [68]:
mean_tot

8.333333333333334

In [69]:
var= (sum((Total_variance-mean_tot)**2))

In [70]:
var

257.33333333333337

In [71]:
257.33-(variance_bet_group + 54)

-0.0033333333333303017

In [81]:
df= pd.read_csv('Plant_growth.csv')

In [82]:
df.head()

   weight treatment_type
0    4.17           ctrl
1    5.58           ctrl
2    5.18           ctrl
3    6.11           ctrl
4    4.50           ctrl

In [84]:
df.shape

(30, 2)

In [85]:
df.treatment_type.value_counts()

ctrl    10
trt1    10
trt2    10
Name: treatment_type, dtype: int64

In [86]:
ctrl_sample1= df[df.treatment_type=='ctrl']['weight']

In [87]:
ctrl_sample1

0    4.17
1    5.58
2    5.18
3    6.11
4    4.50
5    4.61
6    5.17
7    4.53
8    5.33
9    5.14
Name: weight, dtype: float64

In [93]:
trtl_sample2= df[df.treatment_type=='trt1']['weight']

In [94]:
trtl_sample2

10    4.81
11    4.17
12    4.41
13    3.59
14    5.87
15    3.83
16    6.03
17    4.89
18    4.32
19    4.69
Name: weight, dtype: float64

In [95]:
trt2_sample3= df[df.treatment_type=='trt2']['weight']

In [96]:
trt2_sample3

20    6.31
21    5.12
22    5.54
23    5.50
24    5.37
25    5.29
26    4.92
27    6.15
28    5.80
29    5.26
Name: weight, dtype: float64

In [97]:
stats.f_oneway(ctrl_sample1,trtl_sample2,trt2_sample3)

F_onewayResult(statistic=4.846087862380136, pvalue=0.0159099583256229)

## Chisquare Test

In [98]:
expected_value= [100,100,100,100,100,100]

In [99]:
observed_value=[75,125,50,150,80,120]

In [100]:
stats.chisquare(expected_value,observed_value)

Power_divergenceResult(statistic=88.33333333333333, pvalue=1.504286301021788e-17)

In [101]:
df= pd.read_csv('Voting_pattern.csv')

In [102]:
df

         RACE PARTY
0       WHITE   PQR
1       WHITE   PQR
2       WHITE   ABC
3    HISPANIC   ABC
4       ASIAN   ABC
..        ...   ...
995  HISPANIC   PQR
996     WHITE   PQR
997     WHITE   PQR
998  HISPANIC   ABC
999     WHITE   PQR

[1000 rows x 2 columns]

In [109]:
vot= pd.crosstab(index=df.RACE, columns=df.PARTY)

In [110]:
vot

PARTY             ABC  PQR  XYZ
RACE
ASIAN              19   15    8
African American   60   59   32
HISPANIC          105   86   45
OTHER              12   17    8
WHITE             207  227  100

In [107]:
(42*403)/1000

16.926

In [108]:
(42*404)/1000

16.968

In [111]:
stats.chi2_contingency(vot)

Chi2ContingencyResult(statistic=4.737839473077469, pvalue=0.7851934085104637, dof=8, expected_freq=array([[ 16.926,  16.968,   8.106],
       [ 60.853,  61.004,  29.143],
       [ 95.108,  95.344,  45.548],
       [ 14.911,  14.948,   7.141],
       [215.202, 215.736, 103.062]]))